.gl-form-combobox {
  .dropdown-full-width {
    @include gl-w-full;
  }

  .show-dropdown {
    @include gl-display-block;
    max-height: $gl-max-dropdown-max-height;
  }

  .highlight-dropdown {
    @include gl-bg-gray-50;
  }
}
